@media screen and (min-width: 320px) {
  .container {
    max-width: 428px;
  }
  .customers-item {
    width: calc((100% - 24px) / 2);
  }
  .doing {
    display: none;
  }
  .team-item {
    max-width: 264px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .advantages {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .advantages-list {
    gap: 72px 24px;
  }
  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
  .doing {
    display: none;
  }
  .team-list {
    gap: 64px 24px;
  }
  .team-item {
    max-width: 264px;
    width: calc((100% - 24px) / 2);
  }
  .customers-link-icon {
    width: 168px;
    height: 88px;
  }
  .customers-item {
    max-width: 168px;
    width: calc((100% - 24px * 2) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .advantages-list {
    gap: 24px;
  }
  .advantages-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-block {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .doing {
    display: flex;
  }
  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    gap: 24px;
  }
  .customers-item {
    width: calc((100% - 24px * 5) / 6);
  }
}
