:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --white: #ffffff;
  --slate: #434455;
  --cloud: #f4f4fd;
  --ligh-slate: #8e8f99;
  --dairy: #fcfcfc;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

/**----HEADER----------------------------------------------*/
.header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}
.header-logo-dark {
  color: var(--navyblue);
}
.header-contanier {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-menu-list {
  display: flex;
  gap: 40px;
}
.header-menu-link {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--ocean);
}
.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean, #404bbf);
}
.header-address {
  font-style: normal;
  margin-left: auto;
}
.header-adrress-list {
  display: flex;
  gap: 40px;
}
.header-adrress-link {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-adrress-link:hover,
.header-adrress-link:focus {
  color: var(--ocean);
}

/**----HERO----------------------------------------------*/

.hero {
  background-color: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 188px 0;
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-btn {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/**---ADVANTAGES----------------------------------------------*/

.advantages {
  /*padding-top: 120px;
  padding-bottom: 120px;*/
  padding-top: 96px;
  padding-bottom: 96px;
}
.advantages-list {
  display: flex;
  flex-direction: column;
  /*gap: 24px;*/
  gap: 72px;
}
.advantages-item {
  /* width: calc((100% - 72px) / 4);*/
  width: 100%;
}
.advantages-block {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.advantages-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}
.advantages-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/**----DOING----------------------------------------------*/

.doing {
  background-color: var(--white);
  padding-top: 0;
  padding-bottom: 120px;
}
.doing-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
}
.doihng-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.doihg-item {
  width: calc((100% - 48px) / 3);
}
.doing-img {
}

/**----TEAM----------------------------------------------*/

.team {
  background-color: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  margin-bottom: 32px;
  width: calc((100% - 24 * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-item-img {
}
.team-contant {
  padding: 32px 0;
}
.team-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 8px;
}
.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: center;
  margin-bottom: 8px;
}
.team-contant-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-contant-item {
  width: 40px;
  height: 40px;
}
.team-contact-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-contact-link:hover,
.team-contact-link:focus {
  background: var(--ocean);
}
.team-contant-icon {
  fill: var(--cloud);
}
/**---------CUSTOMERS---------------------------------------*/
.customers {
  background-color: var(--white);
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}
.customers-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link-icon:hover,
.customers-link-icon:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-link-icon:hover,
.customers-link-icon:focus {
  border-color: #404bbf;
  fill: #404bbf;
}

.customers-icon {
  fill: currentColor;
}
/**----FOOTER----------------------------------------------*/

.footer {
  background-color: var(--navyblue);
  padding-top: 100px;
  padding-bottom: 100px;
}
.contanier-footer {
  display: flex;
  align-items: baseline;
}
.contanier-footer-logo {
  margin-right: 120px;
}
.footer-logo {
  color: var(--iris);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.header-logo-wight {
  color: var(--cloud);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}
.sotial-title {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.team-contantacs-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.team-contact-link-footer {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-contact-link-footer:hover,
.team-contact-link-footer:focus {
  background-color: #31d0aa;
}

.footer-bottom {
  margin-left: 80px;
}
.footer-form-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  margin-right: 24px;
  color: #ffffff;
}
.footer-input::placeholder {
  color: #ffffff;
}
.footer-form-btn {
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  cursor: pointer;
  border-radius: 4px;
  background: var(--iris);
  border: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  fill: var(--white);
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-bnt-send {
  margin-left: 16px;
}

/**----PORTFOLIO-BOOTON-FILTER---------------------------------------------*/
.main-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-filter-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-align: center;
  background: #f4f4fd;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  padding: 12px 24px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
/**----GALARY----------------------------------------------*/

.galary-list {
  list-style: none;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.galary-item {
  width: calc((100% - 24 * 2) / 3);
}
.galary-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.galary-link:hover,
.galary-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.galary-contanier-cover {
  position: relative;
  overflow: hidden;
}
.galary-link:is(:hover, :focus) .galary-text-cover {
  transform: translateY(0%);
}
.galary-text-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.galary-item:hover .portfolio-name,
.galary-item:focus .portfolio-name {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-name:hover,
.portfolio-name:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.galary-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}
.galary-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/**-----------------MODAL---------------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*margin: auto;*/
  padding: 72px 24px 24px 24px;
}
.modal-close-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  fill: #8e8f99;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--ocean);
  fill: #ffffff;
  border: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 360px;
  margin-bottom: 16px;
}

.modal-input {
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  width: 100%;
  height: 40px;
  padding: 0 10px 0 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--iris);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--iris);
}

.input-label {
  display: block;
  color: var(--ligh-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-filed {
  margin-bottom: 8px;
  position: relative;
}
.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap {
  position: relative;
}

.modal-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  margin-bottom: 8px;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  letter-spacing: 0.04em;
}
.modal-textarea:focus::placeholder {
  opacity: 0;
}
.user-textarea {
  margin-bottom: 16px;
}

.modal-checkbox {
  margin-bottom: 24px;
}
.check-text {
  color: var(--ligh-slateslate, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
}
.modal-icons-privancy {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-link {
  color: var(--iris);
}
.check-text span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  margin-right: 8px;
  fill: transparent;
}
.modal-check:checked + .check-text span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}
.modal-form-btn {
  color: var(--white);
  background: var(--iris);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  margin-top: 24px;
  margin-left: 95px;
  display: block;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 396px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
